<%= nested_form_for @post do |f| %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <hr />
  
  <div>
    <%= f.label :body %><br />
    <%= f.text_area :body, rows: 10 %>
  </div>
  
  <h4>Comments</h4>
  
  <div>
    <%= render 'comments/fields', parent: f %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<%- end %>