<h2><%= post.title %></h2>
<p class="body">
  <%= post.body %>
</p>

<div class="comments">
  <%- post.comments.each do |comment| %>
    <%= render comment %>
  <%- end %>
</div>

<ul class="horizontal">
  <li><%= link_to 'Edit', edit_post_path(post) %></li>
  <li><%= link_to 'Delete', post, method: :delete %></li>
</ul>

<hr />